.contacts-detail{
    padding: 0.3rem 0.4rem;
}
.contacts-detail .contacts-detail__header{
    display: flex;
    align-items: center;
    padding-bottom: 0.32rem;
    margin-bottom: 0.24rem;
    border-bottom: 0.02rem solid rgba(238, 238, 238, 1);
}
.contacts-detail .contacts-detail__header-user{
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.2rem;
}
.contacts-detail .contacts-detail__header-user img{
    width: 100%;
}
.contacts-detail .contacts-detail__header-info{
    flex: 1;
}
.contacts-detail .contacts-detail__header-info-name{
    display: flex;
    align-items: center;
}
.contacts-detail .contacts-detail__header-info-name .name{
    font-size: 0.36rem;
    font-weight: 500;
    color: #333333;
}
.contacts-detail .contacts-detail__header-info-name .tags{
    display: flex;
    align-items: center;
}
.contacts-detail .contacts-detail__header-info-name .tags img{
    
height: 0.24rem;
    margin-left: 0.1rem;
}
.contacts-detail .contacts-detail__header-info-company{
    font-size: 0.28rem;
    color: #666666;
}
.contacts-detail .contacts-detail__header-share button{
    width: 1.68rem;
    height: 0.68rem;
    background: #2EB79E;
    border-radius: 0.34rem;
    font-size: 0.28rem;
    font-weight: 500;
    color: #FFFFFF;
}
.contacts-detail .contacts-detail__info{

}
.contacts-detail .contacts-detail__info-row{
    display: flex;
    align-items: center;
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.56rem;
    letter-spacing: 1px;
}
.contacts-detail .contacts-detail__info-row span{
    color: rgba(51, 51, 51, 1);
}
.contacts-detail .contacts-detail__contact{
    padding-top: 0.6rem;
}

.contacts-detail .contacts-detail__contact-box{
    padding-top: 0.34rem;
}
.contacts-detail .contacts-detail__contact-box .contacts-detail__contact-row{
    display: flex;
    align-items: center;
    margin-bottom: 0.26rem;
}
.contacts-detail__contact-row .contacts-detail__contact-row-img{
    height: 0.26rem;
    margin-right: 0.24rem;
}
.contacts-detail__contact-row .contacts-detail__contact-row-img img{
    height: 100%;
}
.contacts-detail__contact-row-phone,.contacts-detail__contact-row label{
    font-size: 0.28rem;
    font-weight: 400;
    color: #333333;
}
.contacts-detail__contact-row button{
    width: 0.92rem;
    height: 0.48rem;
    border-radius: 0.24rem;
    border: 0.01rem solid #2EB79E;
    font-size: 0.24rem;
    color: #2EB79E;
    background-color: transparent;
    margin-left: auto;
}
.contacts-detail__desc{
    margin-top: 0.68rem;
    padding-bottom: 0.6rem;
}
.contacts-detail__desc p{
    padding-top: 0.34rem;
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.48rem;
}
.contacts-detail__desc-imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.2rem;
}
.contacts-detail__desc-imgs div{
    width: 2.08rem;
    height: 2.08rem;
    overflow: hidden;
    border-radius: 0.08rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.contacts-detail__desc-imgs div img{
    width: 100%;
}
.contacts-detail__other{
    padding: 0.3rem 0;
}
.contacts-detail__other-box{
  padding-top: 0.16rem;
}
.contacts-detail__other-row{
    padding: 0.2rem 0;
    border-bottom: 0.02rem solid rgba(237, 237, 237, 1);
}
.contacts-detail__other-header{
    display: flex;
    align-items: center;
}
.contacts-detail__other-header button{
    width: 0.8rem;
    height: 0.42rem;
    background: #2EB79E;
    border-radius: 0.21rem;
    font-size: 0.28rem;
    color: #FFFFFF;
}
.contacts-detail__other-header span{
    font-size: 0.28rem;
    color: #999999;
    margin-left: 0.16rem;
}
.contacts-detail__other-row p{
    font-size: 0.28rem;
    color: #333333;
    line-height: 0.4rem;
    margin: 0.18rem 0;
}
.contacts-detail__other-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.24rem;
    color: #999999;
}
.contacts-detail__other-footer span.eye-times{
    display: flex;
    align-items: center;
}
.contacts-detail__other-footer span.eye-times img{
    width: 0.23rem;
    margin-right: 0.08rem;
}