.coo-history{
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 0.3rem;
    box-sizing: border-box;
}
.coo-history .search-box{
    background-color: #FDFEFD;
    margin-bottom: 0.3rem;
}

.coo-history ul li{
    margin-bottom: 0.2rem;
    background: #FFFFFF;
    border-radius: 0.08rem;
    padding: .3rem .24rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    margin-bottom: 0.2rem;
    position: relative;
}
.list-record{
    position: absolute;
    top: 0;
    right: 0;
}
.list-record img{
    width: 0.78rem;
}
.coo-history .list-header{
    display: flex;
    align-items: center;
}
.list-header__user{
    width: 0.48rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.12rem;
}
.list-header__name{
    font-weight: 500;
    color: #333333;
    margin-right: 0.04rem;
}
.list-header__company{
    font-size: 0.24rem;
    color: #999999;
}

.list-header__user img{
    width: 100%;
}
.list-header__tag{
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
}
.list-header__tag img{
    width: 0.23rem;
}
.list-desc{
    padding: .22rem 0 .28rem 0;
    color: #333;
    line-height: 1.5;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.list-footer{
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-footer__btn{
    width: 1.08rem;
    height: 0.34rem;
    border-radius: 0.04rem;
    border: 1px solid #2DBD9F;
    font-size: .24rem;
    color: #2DBD9F;
    text-align: center;
    line-height: 0.34rem;
}
.list-footer div{
    color: #aaa;
    white-space: nowrap;
}
.list-footer .list-footer__time{
    margin-right: 0.4rem;
}
.list-footer .list-footer__show{
    display: inline-flex;
    align-items: center;
}
.list-footer .list-footer__show img{
    width: 0.23rem;
    display: block;
    margin-right: 0.1rem;
}