.ind-mem{
    background-color: #f2f2f2;
}
.ind-mem .ind-mem__header{
    background-image: url(../images/hyzxbg.png);
    padding: 0.48rem 0 0.4rem 0.4rem;
}
.ind-mem__header .header-content{
    display: flex;
    align-items: center;
}
.ind-mem__header .header-content__img{
    width: 0.88rem;
    height: 0.88rem;    
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.2rem;
}
.ind-mem__header .header-content__img img{
    width: 100%;
}
.ind-mem__header .header-content__info{

}
.ind-mem__header .header-content__info h3{
    font-size: 0.32rem;
    font-weight: 500;
    color: #946740;
    display: flex;
    align-items: center;
}
.ind-mem__header .header-content__info h3 img{
    margin-left: 0.2rem;
    height: 0.24rem;
}
.ind-mem__header .header-content__info p{
    font-size: 0.24rem;
    color: #666666;
}
.ind-mem__header .header-content__business{
    margin-left: auto;
    width: 1.74rem;
    height: 0.48rem;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 0.24rem 0rem 0rem 0.24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.24rem;
    color: #946740;
}
.ind-mem__comm{
    padding: 0.4rem;
    background-color: #fff;
    min-height: 2rem;
    margin-bottom: 0.2rem;
}
.ind-mem__comm h3{
    font-size: 0.32rem;
    font-weight: 500;
    color: #333333;
    padding-bottom: 0.3rem;
}
.ind-mem__buyaccount input{
    background: #F6F7F9;
    border-radius: 0.08rem;
    width: 100%;
    height: 0.8rem;
    padding-left: .24rem;
    box-sizing: border-box;
}
.ind-mem__setmeal-cont .swiper-slide{
    width: 2.4rem;
    margin-right: 0.2rem;
}
.ind-mem__setmeal-cont .swiper-item{
    width: 2.4rem;
    height: 2.8rem;
    border-radius: 0.12rem;
    border: 0.02rem solid #E9EAEC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ind-mem__setmeal-cont .swiper-item p.ind-mem__setmeal-vip{
    font-size: 0.24rem;
    color: #333333;
    padding: 0.44rem 0 0.1rem 0;
}
.ind-mem__setmeal-cont .swiper-item .ind-mem__setmeal-money{
    font-size: 0.22rem;
    color: #333333;
}
.ind-mem__setmeal-cont .swiper-item .ind-mem__setmeal-money span{
    font-size: 0.56rem;
}
.ind-mem__setmeal-cont .swiper-item p.ind-mem__setmeal-desc{
    font-size: 0.22rem;
    color: #999999;
}
.ind-mem__setmeal-cont .swiper-item .ind-mem__setmeal-bottom{
    margin-top: auto;
    height: 0.6rem;
    background: #FEF5E8;
    border-radius: 0rem 0rem 0.12rem 0.12rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 0.22rem;
    color: #946740;
}
.ind-mem__setmeal-cont .swiper-item .ind-mem__setmeal-bottom img{
    height: 0.18rem;
    margin-right: 0.1rem;
}