.share-card{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.share-card .share-card__box{
    width: 100%;
    height: 8rem;
    background: #FFFFFF;
    margin-top: auto;
    position: relative;
}
.share-card__box .share-card__inner{
    width: 5.63rem;
    height: 10.2rem;
    background: #FFFFFF;
    box-shadow: 0rem 0.1rem 0.18rem 0rem rgba(0, 0, 0, 0.1);
    border-radius: 0.32rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.share-card__box .share-card__btn{
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.share-card__box .share-card__btn button{
    width: 2.6rem;
    height: 0.88rem;
    background: #2EB79E;
    border-radius: 0.44rem;
    color: #FFFFFF;
    font-size: 0.32rem;
}
.share-card__info{
    background-image: url(../images/share-bg.png);
    background-size: 100%;
    width: 100%;
    height: 8.4rem;
    padding: 0.8rem 0.6rem;
    box-sizing: border-box;
}
.share-card__other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.22rem;
}
.share-card__other-left img{
    height: 0.64rem;
}
.share-card__other-left p{    
    font-size: 0.27rem;
    color: #323334;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.share-card__other-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 0.18rem;
    font-weight: 500;
    color: #323334;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.share-card__other-right .xcx{
    width: 1.08rem;
    height: 1.08rem;
    overflow: hidden;
}
.share-card__other-right .xcx img{
    width: 100%;
}
.share-card__info-header{
    display: flex;
    align-items: center;
}
.share-card__info-header .share-card__info-header-left{
    width: 0.84rem;
    height: 0.84rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.22rem;
}
.share-card__info-header .share-card__info-header-left img{
    width: 100%;
}
.share-card__info-header-right p{
    font-size: 0.21rem;
    color: #FFB600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(113, 140, 137, 0.25);
}
.share-card__info-header-right div{
    display: flex;
    align-items: center;
}
.share-card__info-header-right div img{
    height: 0.3rem;
    margin-left: 0.12rem;
}
.share-card__info-header-right div h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.33rem;
}
.share-card__info-cont{
    margin-top: 0.32rem;
    font-size: 0.21rem;
    color: #FFFFFF;
    padding-bottom: 1.8rem;
}
.share-card__info-cont label{
    color: #aaa;
}
.share-card__sup{
    font-size: 0.21rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0.6rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(113, 140, 137, 0.25);
}
.share-card__sup h3{
    font-size: 0.33rem;
}
.share-card__need{
    font-size: 0.21rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0.6rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(113, 140, 137, 0.25);
}
.share-card__need h3{
    font-size: 0.33rem;
}
.load-img{
    opacity: 0;
}