<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="这是网站的描述，填写有助于SEO" />
    <meta name="keywords" content="这是网站关键词" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.10/lib/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script type="text/javascript" src="./js/flexible.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/tabs.css">
    <link rel="stylesheet" href="./css/me.css">
    <link rel="stylesheet" href="./css/contacts.css">
    <link rel="stylesheet" href="./css/commom.css">
    <title>服务发布</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
</head>

<body>
<div class="release" id="app">
    <div class="release-tip">
        <img src="./images/warn.png" />
        违规删除，违法封号！请严格按规则发布，勿投机取巧!
    </div>
    <form class="release-form">
        <div class="form-item">
            <label class="required">服务类型</label>
            <div class="form-item__cont">
                <div class="select xqlx">
                    <input placeholder="请选择" readonly @click="show1 = true" v-model="form.type" />
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="required">标题</label>
            <div class="form-item__cont">
                <div class="select bt">
                    <input placeholder="请选择" @input="handleInputTitle" maxlength="20" v-model="form.title" />
                    <span>{{num}}/20</span>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="required">结算方式 </label>
            <div class="form-item__cont">
                <div class="select jsfs">
                    <input placeholder="请选择" readonly v-model="form.settlement" @click="show2 = true" />
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="required">付款方式</label>
            <div class="form-item__cont">
                <div class="select fkfs">
                    <input placeholder="请选择" readonly v-model="form.payMethods" @click="show3 = true" />
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="required">所属行业 </label>
            <div class="form-item__cont">
                <div class="select sshy">
                    <input placeholder="请选择" readonly v-model="form.belong" @click="show4 = true" />
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="required">需求描述 </label>
            <div class="form-item__cont">
                <div class="select xqms">
                    <textarea v-model="form.desc"
                        placeholder="为了提高合作对接的效率，请尽可能详细描述您的需求，包括但不限于项目背景、当前问题、其他个性化需求等。500字以内"></textarea>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label>有效时间<span>（开始时间）</span> </label>
            <div class="form-item__cont">
                <div class="select kssj">
                    <input type="text" style="flex: 1;" readonly v-model="form.startTime" placeholder="开始时间"
                        @click="show5 = true">
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label>有效时间<span>（结束时间）</span> </label>
            <div class="form-item__cont">
                <div class="select jssj">
                    <input type="text" style="flex: 1;" readonly v-model="form.endTime" placeholder="结束时间"
                        @click="show6 = true">
                    <img src="./images/jtxx.png" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label>相关照片<span>（最多3张，图片不能带联系方式，不超过200K）</span> </label>
            <div class="form-item__cont">
                <div class="form-item__upload">
                    <van-uploader multiple :max-count="3" :max-size="200" v-model="form.uploader" />
                </div>
            </div>
        </div>
        <div class="form-item">
            <label>联系方式<span>（联系电话、微信号、QQ至少填一项）</span> </label>
            <div class="form-item__cont">
                <div class="form-contact">
                    <div class="form-contact__item">
                        <img src="./images/phone.png" />
                        <input type="tel" v-model="form.phone" maxlength="11">
                    </div>
                    <div class="form-contact__item">
                        <img src="./images/wx.png" />
                        <input type="text" v-model="form.wechat">
                    </div>
                    <div class="form-contact__item">
                        <img src="./images/qq.png" />
                        <input type="tel" v-model="form.qq">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-item" style="padding-bottom: 0.2rem;">
        <button class="form-submit" @click="handleRelease(form)">确认发布</button>
    </div>

    <van-popup v-model="show1" position="bottom" :style="{ height: '30%' }">
        <van-picker title="需求类型" show-toolbar @cancel="show1 = false" @confirm="(val) => handleType('type','show1',val)"
            :columns="types" />
    </van-popup>

    <van-popup v-model="show2" position="bottom" :style="{ height: '30%' }">
        <van-picker title="结算方式" show-toolbar @cancel="show2 = false"
            @confirm="(val) => handleType('settlement','show2',val)" :columns="settlement" />
    </van-popup>

    <van-popup v-model="show3" position="bottom" :style="{ height: '30%' }">
        <van-picker title="付款方式" show-toolbar @cancel="show3 = false"
            @confirm="(val) => handleType('payMethods','show3',val)" :columns="settlement" />
    </van-popup>

    <van-popup v-model="show4" position="bottom" :style="{ height: '30%' }">
        <van-picker title="付款方式" show-toolbar @cancel="show4 = false"
            @confirm="(val) => handleType('belong','show4',val)" :columns="belong" />
    </van-popup>

    <van-popup v-model="show5" position="bottom" :style="{ height: '30%' }">
        <van-datetime-picker v-model="form.startTime" type="date" @cancel="show5 = false"
            @confirm="(val) => formatterBackTime('startTime','show5',val)" title="选择年月日" />
    </van-popup>

    <van-popup v-model="show6" position="bottom" :style="{ height: '30%' }">
        <van-datetime-picker v-model="form.endTime" @cancel="show6 = false"
            @confirm="(val) => formatterBackTime('endTime','show6',val)" type="date" title="选择年月日" />
    </van-popup>

    <van-dialog v-model="show7" show-cancel-button confirm-button-text="前往认证" cancel-button-text="返回首页" @cancel="handleCancel" @confirm="handleRZ">
        <div class="dialog-certified__tips">
            <img src="./images/tips.png" />
            实名认证后可享受发布特权
        </div>
    </van-dialog>

</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
<script>
    $(function () {
        new Vue({
            el: '#app',
            data: {
                form: {
                    type: '',
                    title: '',
                    settlement: '',
                    payMethods: '',
                    belong: '',
                    desc: '',
                    startTime: new Date(),
                    endTime: new Date(),
                    uploader: [],
                    phone: '',
                    wechat: '',
                    qq: ''
                },
                num: 0,
                types: ['类型一', '类型二', '类型三'],
                settlement: ['支付宝', '微信'],
                belong: ['互联网', '支付宝'],
                show1: false,
                show2: false,
                show3: false,
                show4: false,
                show5: false,
                show6: false,
                certified: false, //是否已认证
                show7: false
            },
            methods: {
                handleType(type, target, val) {
                    this.form[type] = val;
                    this[target] = false;
                },
                handleInputTitle() {
                    if (this.form.title.length > 20) {
                        return
                    }
                    this.num = this.form.title.length;
                },
                formatterBackTime(type, target, val) {
                    this.form[type] = val;
                    this[target] = false;
                },
                timeFormat(time) { // 时间格式化 2019-09-08
                    let year = time.getFullYear();
                    let month = time.getMonth() + 1;
                    let day = time.getDate();
                    return year + '年' + month + '月' + day + '日'
                },
                handleCancel(){
                    $('#tab-content').load('./home.html')
                },
                handleRZ(){
                    this.show7 = false
                },
                handleRelease(form) {
                    if (!this.certified) {
                        this.show7 = true;
                        return
                    }
                    if (!form.type) {
                        this.$notify('请选择需求类型');
                        return
                    }
                    if (!form.title) {
                        this.$notify('请填写标题');
                        return
                    }
                    if (!form.settlement) {
                        this.$notify('请选择结算方式');
                        return
                    }
                    if (!form.payMethods) {
                        this.$notify('请选择付款方式');
                        return
                    }
                    if (!form.belong) {
                        this.$notify('请选择所属行业');
                        return
                    }
                    if (!form.desc) {
                        this.$notify('请输入描述信息');
                        return
                    }
                    if (!form.phone && !form.wechat && !form.qq) {
                        this.$notify('请至少填写一项联系方式');
                        return
                    }
                }
            }
        });
    })
</script>